.primary {
  width: 260px;
  height: 44px;
  border-radius: 64px;
  background-color: #0058ab;
  color: white;
  margin-top: 16px;
}

.primary:hover {
  background-color: #023c72;
  cursor: pointer;
}

.secundary {
  width: fit-content;
  height: 44px;
  background-color: transparent;
  border: none;
}

.secundary:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 750px) {
  .primary {
    width: 500px;
  }
}
