.shopping-wrapper h1 {
  text-align: center;
}

.shopping-wrapper .primary {
  display: block;
  margin: 0 auto;
}

.shopping-wrapper button img {
  width: 30px;
  box-sizing: border-box;
  padding-right: 8px;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
}

@media (min-width: 750px) {
  .align {
    margin: 16px auto;
  }
}
